<!-- <select id="nodeKpiDataType" name="dataType" [(ngModel)]="dataType">
    <option   [value]="1">u</option>
    <option   [value]="2">3</option>
  </select> -->


  <div class="row align-items-start" style="margin: 8px;">

    <div class="col-3">

  <mat-form-field appearance="fill">
    <mat-label>انتخاب وضعیت سفر</mat-label>

    <mat-select [(value)]="status">

      <mat-option value="-1">همه</mat-option>
      <mat-option value="1">بررسی نشده</mat-option>
      <mat-option value="2">اختصاص راننده</mat-option>
      <mat-option value="3">تایید راننده</mat-option>
      <mat-option value="4">در حال سفر</mat-option>
      <mat-option value="4">سفرهای کنسل شده</mat-option>
      <mat-option value="4">اتمام سفر</mat-option>
    </mat-select>

  </mat-form-field>
</div>

<div class="col-3"> <button mat-flat-button (click)="getTripsList(status)" color="primary" style="font-family:'IRANSansWeb';background: lightseagreen;">گزارش</button> </div>
<div class="col-3"></div>
</div>

<mat-card class="shadow-sm rounded" style="margin: 8px;font-family: IRANSansWeb;background: #F2F6FF;">
    <div class="row align-items-start">
  <div class="col-2"><div style="text-align: center;margin-left: 62px;"><label style="font-weight: 600;color: gray;">درخواست کننده</label></div></div>
  <div class="col-2"><div style="text-align: center;margin-left: 140px;"><label style="font-weight: 600;color: gray;">مبدا / مقصد</label></div></div>
  <div class="col-1"><div style="text-align: center;"><label style="font-weight: 600;color: gray;">واحد</label></div></div>
  <div class="col-1"><div style="text-align: center;"><label style="font-weight: 600;color: gray;">نوع سفر</label></div></div>
  <div class="col-1"><div style="text-align: center"><label style="font-weight: 600;color: gray;">زمان درخواست</label></div></div>
  <div class="col-1"><div style="text-align: center;margin-left: 116px;"><label style="font-weight: 600;color: gray;">وضعیت</label></div></div>
  <div class="col-1"><div><label style="font-weight: 600;color: gray;margin-right: 32px;"> شروع</label></div></div>
  <div class="col-1"><div><label style="font-weight: 600;color: gray;margin-right: 32px;"> پایان</label></div></div>
  <div class="col-2"><div style="text-align: left;margin-left: 32px;"><label style="font-weight: 600;color: gray;"> راننده </label></div></div>
  </div>
  </mat-card>
   <mat-card class="shadow-sm bg-white rounded" style="margin: 8px;font-family: IRANSansWeb;" *ngFor="let item of tripModel">
    <div class="row align-items-center">
      <div class="col-2"><img src="assets/images/circule.png" style="width: 25%;margin-right: 4px;"><label style="font-weight: bold;color: gray;;margin-right: 8px;">{{item.CustomerName}}</label></div>
      <div class="col-2">
        <div>
        <mat-icon matListIcon style="color: #198754;float: right">my_location</mat-icon>
        <label style="font-weight: bold;color: gray;float: right;margin-right: 4px;">مبدا : </label>
        <label color="dark" style="color: #198754;float: right">{{item.FromAddress}}</label>
      </div>
      <br>
      <br>
      <div>
        <mat-icon matListIcon style="color: #7370f5;float: right;">place</mat-icon><label style="font-weight: bold;color: gray;float: right">مقصد : </label> <label color="dark" style="color: #7370f5;float: right">{{item.ToAddress}}</label>
      </div>
      </div>
      <div class="col-1"><mat-icon matListIcon style="color: #c42494;float: right;">apartment</mat-icon><label style="font-weight: bold;color: gray;;margin-right: 8px;float: right;margin-top: 4px;">{{item.UnitName}}</label></div>
      <div class="col-1"><div style="text-align: center;"><label style="padding: 16px;border-radius: 18px;color: white;background:#9ccc88" >{{item.TypeTripName}}  </label></div></div>
      <div class="col-1"><mat-icon matListIcon style="color: #e65454;margin-right: 28px;float: right;">access_time</mat-icon><label style="font-weight: bold;color: gray;float: right;margin-right: 6px;margin-top: 4px;"> {{item.PersianDateTime}}</label></div>
      <div class="col-1">
        
         <div *ngIf="item.Status == 1"><mat-icon matListIcon style="color: #6b6b6e;float: right;">access_time</mat-icon><label style="font-weight: bold;color: rgb(94, 93, 92);float: right;margin-right: 6px;margin-top: 4px;"> {{item.StatusName}}</label> </div>
         <div *ngIf="item.Status == 2"><mat-icon matListIcon style="color: #ebb72a;float: right;">local_taxi</mat-icon><label style="font-weight: bold;color: rgb(94, 93, 92);float: right;margin-right: 6px;margin-top: 4px;"> {{item.StatusName}}</label> </div>
         <div *ngIf="item.Status == 3"><mat-icon matListIcon style="color: #5e7bdd;float: right;">how_to_reg</mat-icon><label style="font-weight: bold;color: rgb(94, 93, 92);float: right;margin-right: 6px;margin-top: 4px;"> {{item.StatusName}}</label> </div>
         <div *ngIf="item.Status == 4"><mat-icon matListIcon style="color: #38d845;float: right;">play_circle</mat-icon><label style="font-weight: bold;color: rgb(94, 93, 92);float: right;margin-right: 6px;margin-top: 4px;"> {{item.StatusName}}</label> </div>
         <div *ngIf="item.Status == 5"><mat-icon matListIcon style="color: #cf2e18;float: right;">do_not_disturb_on</mat-icon><label style="font-weight: bold;color: rgb(94, 93, 92);float: right;margin-right: 6px;margin-top: 4px;"> {{item.StatusName}}</label> </div>
         <div *ngIf="item.Status == 6"><mat-icon matListIcon style="color: #e254bf;float: right;">check_circle</mat-icon><label style="font-weight: bold;color: rgb(94, 93, 92);float: right;margin-right: 6px;margin-top: 4px;"> {{item.StatusName}}</label> </div>
  
      
      
        </div>
       <div class="col-1"><div [hidden]="item.Type == 1"><label style="font-weight: bold;color: gray;;margin-right: 8px;float: right;margin-top: 4px;text-align: center;"> {{item.PersianStartTime}} </label></div></div>
       <div class="col-1"><div [hidden]="item.Type == 1"><label style="font-weight: bold;color: gray;;margin-right: 8px;float: right;margin-top: 4px;text-align: center;"> {{item.PersianEndTime}} </label></div></div>
      
       <div class="col-2">
  
        <label [hidden]="item.DriverId != null" style="font-weight: bold;color: rgb(223, 10, 10);;margin-right: 8px;float: left;margin-top: 4px;text-align: center;"> عدم انتخاب راننده </label>
        
        <div [hidden]="item.DriverId == null" style="float: left;text-align: left;">
      <mat-icon matListIcon style="color: #2df337">local_taxi</mat-icon><label style="font-weight: bold;color: gray;">راننده : </label> <label *ngIf="item.DriverTrip != null" color="dark">{{item.DriverTrip.DriverName}}</label>
      <br>
       
      <label color="dark" *ngIf="item.DriverTrip != null" style="font-size: large;margin-top: 8px;;margin-bottom: 8px;;margin-left: 32px;">{{item.DriverTrip.CarName}}</label>
     
      <br>
      <img *ngIf="item.DriverTrip != null" src="assets/images/plak/{{item.DriverTrip.CarPateNoImage}}.jpg" style="width: 45%;margin-right: 4px;">
    </div>  
    </div>
    </div>
  
  </mat-card> 


