<div class="row align-items-start" >
    <div class="col-4">
<div style="text-align: center;margin: 16px;cursor:pointer">
<img src="assets/images/icons/lastTrip.png" [routerLink]='["/report-trip"]'>
<br>
<label style="font-weight: bold;color: rgb(82, 80, 80);margin-top: 8px;text-align: center;"> گزارش سفرها </label>
</div>

</div>

   
    <div class="col-4">
        <div style="text-align: center;margin: 16px;cursor:pointer">
            <img src="assets/images/icons/driver.png" [routerLink]='["/report-driver"]'>
            <br>
            <label style="font-weight: bold;color: rgb(82, 80, 80);margin-top: 8px;text-align: center;"> گزارش رانندگان </label>
            </div>
    </div>
    <div class="col-4">

    </div>

    </div>
